
<VirtualHost *:{{ sites_port }}>
    ServerAdmin {{ sites_server_admin }}
    ServerName {{ sites_server_name }}

    AllowEncodedSlashes NoDecode

    DocumentRoot /var/www/html

    <Directory />
	    AllowOverride all
	    Allow from all
    </Directory>

{% for item in sites %}
{%   if sites[item]['apache_site_directives'] is defined %}
    <Location /{{ sites[item]['context'] }}>
{%     for ln in sites[item]['apache_site_directives'] %}
      {{ ln }}
{%     endfor %}
    </Location>
{%   endif %}
{% endfor %}

    LogLevel {{ sites_log_level }}

    ErrorLog {{ https_log_dir[ansible_os_family] }}-sites.log
    CustomLog {{ https_log_dir[ansible_os_family] }}-sites.log combined

</VirtualHost>
