# {{ ansible_managed }}

word=$(shuf -n1  /usr/share/dict/words)
filename="{{ inventory_hostname }}-myapp-{{ myapp_version }}-${word}.txt"
echo "INSERT INTO myapp_table (story) VALUES ('${filename}');" | psql -h {{ myapp_database_host }} -U {{ myapp_owner }} {{ myapp_database_name_version }}
dir=$(date -d "2 days" "+%Y-%m-%d")
mkdir -p {{ myapp_home_version }}/data/$dir
touch {{ myapp_home_version }}/data/$dir/$filename
