# {{ ansible_managed }}

ProxyRequests Off
ProxyPreserveHost On
ProxyTimeout {{ reverse_proxy_proxy_timout }}

SSLSessionCache shmcb:/var/cache/mod_ssl/scache(512000)
SSLSessionCacheTimeout {{ reverse_proxy_ssl_session_cache_timeout }}
# SSLMutex default
Mutex default
SSLRandomSeed startup file://dev/urandom 256
SSLRandomSeed connect builtin
SSLCryptoDevice builtin

<VirtualHost *:80>
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=302,L,QSA] 
</VirtualHost>

{% for hst in reverse_proxy_vhosts %}
<VirtualHost *:{{ reverse_proxy_vhosts[hst].port }}>
    ServerAdmin admin@{{ reverse_proxy_server_admin }}
    ServerName {{ reverse_proxy_vhosts[hst].server_name }}

    SSLEngine on
    SSLProxyEngine on
    SSLProtocol -ALL +TLSv1.2
    SSLHonorCipherOrder On
    SSLCipherSuite ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
{% if reverse_proxy_vhosts[hst].proxy_verify == False %}
    SSLProxyVerify none 
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerName off
    SSLProxyCheckPeerExpire off
{% endif %}
    SSLCertificateKeyFile {{ reverse_proxy_etc_ssl_private[ansible_os_family] }}{{ reverse_proxy_vhosts[hst].server_name }}-pk.pem
    SSLCertificateFile {{ reverse_proxy_etc_ssl_certs[ansible_os_family] }}{{ reverse_proxy_vhosts[hst].server_name }}.pem
{% if reverse_proxy_vhosts[hst].ssl_bundle_url is defined %}
    SSLCertificateChainFile {{ reverse_proxy_etc_ssl_certs[ansible_os_family] }}{{ reverse_proxy_vhosts[hst].server_name }}-bundle.pem
{% endif %}
    RequestHeader set X-Forwarded-Proto "https"
    AllowEncodedSlashes NoDecode

{% if reverse_proxy_global_favicon is defined and reverse_proxy_vhosts[hst].custom_directives is not defined %}
    RewriteEngine on
    RewriteRule favicon.ico$ /favicon.ico [NC]
    ProxyPass /favicon.ico !
{% endif %}
{% if reverse_proxy_vhosts[hst].custom_directives is defined %}
{%   for d in reverse_proxy_vhosts[hst].custom_directives %}
    {{ d }}
{%   endfor %}
{% endif %}

{% if reverse_proxy_environment is defined %}
    ProxyPass /environment !
{% endif %}
{% for m in reverse_proxy_redirect_matches %}
    RedirectMatch {{ m }}
{% endfor %}
    DocumentRoot /var/www/html

    <Directory />
	    AllowOverride all
	    Allow from all
    </Directory>

{%   for pp in reverse_proxy_vhosts[hst].proxy_passes %}
    ProxyPass {{ pp['proxy_pass'] }}
{%     if pp['proxy_pass_reverse'] is defined  %}
    ProxyPassReverse {{ pp['proxy_pass_reverse'] }}
{%     else %}
    ProxyPassReverse {{ pp['proxy_pass'] }}
{%     endif %}
{%   endfor %}

{% if reverse_proxy_vhosts[hst].proxy_guacamole is defined %}
    <Location {{ reverse_proxy_vhosts[hst].proxy_guacamole.context }}>
      Order allow,deny
      Allow from all
      ProxyPass http://{{ reverse_proxy_vhosts[hst].proxy_guacamole.ip }}:{{ reverse_proxy_vhosts[hst].proxy_guacamole.port }}/guacamole flushpackets=on
      ProxyPassReverse http://{{ reverse_proxy_vhosts[hst].proxy_guacamole.ip }}:{{ reverse_proxy_vhosts[hst].proxy_guacamole.port }}/guacamole
      ProxyPassReverseCookiePath /guacamole {{ reverse_proxy_vhosts[hst].proxy_guacamole.context }}
    </Location>

    <Location {{ reverse_proxy_vhosts[hst].proxy_guacamole.context }}/websocket-tunnel>
      Order allow,deny
      Allow from all
      ProxyPass ws://{{ reverse_proxy_vhosts[hst].proxy_guacamole.ip }}:{{ reverse_proxy_vhosts[hst].proxy_guacamole.port }}/guacamole/websocket-tunnel
      ProxyPassReverse ws://{{ reverse_proxy_vhosts[hst].proxy_guacamole.ip }}:{{ reverse_proxy_vhosts[hst].proxy_guacamole.port }}/guacamole/websocket-tunnel
    </Location>
{% endif %}

    LogLevel {{ reverse_proxy_log_level }}
    ErrorLog {{ https_log_dir[ansible_os_family] }}ssl-{{ reverse_proxy_vhosts[hst].server_name }}.log
    CustomLog {{ https_log_dir[ansible_os_family] }}ssl-{{ reverse_proxy_vhosts[hst].server_name }}.log combined

</VirtualHost>                                  
{% endfor %}


