{% if vars[item + '_database_host'] is defined and
     backup_roles[item]['skip_database']|default(False) == False and
     vars[item + '_database_type']|default('postgresql') == 'postgresql' %}
  database PostgreSQL do |db|
{%     if backup_roles[item]['snapshot'] is defined and backup_roles[item]['snapshot'] == True %}
    db.name = '{{ vars[item + '_database_name_version_backup'] }}'
{%     else %}
    db.name = '{{ vars[item + '_database_name_version'] }}'
{%     endif %}
    db.username = '{{ vars[item + '_database_username'] }}'
    db.password = '{{ vars[item + '_database_password'] }}'
    db.host = '{{ vars[item + '_database_host'] }}'
    db.port = '{{ vars[item + '_database_port'] }}'
    db.additional_options = []
  end
{% endif %}

{% if vars[item + '_database_host'] is defined and
     backup_roles[item]['skip_database']|default(False) == False and
     vars[item + '_database_type']|default('postgresql') == 'oracle' and
     backup_roles[item]['incremental']|default(False) == False %}
  archive :database do |archive|
    archive.root '{{ item|role_dump_dir(vars) }}'
    archive.add '.'
  end
{% endif %}
  