
{% if backup_roles[item]['snapshot']|default(None) == True %}
  try umount {{ vars[item+'_home_backup'] }}
  try lvremove -f /dev/{{ lvm_vg }}/{{ item }}-snapshot
  try rm -rf {{ vars[item+'_home_backup'] }}
{% endif %}
{% if vars[item + '_database_host'] is defined and
      backup_roles[item]['skip_database']|default(False) == False and
      backup_roles[item]['snapshot']|default(None) == True %}
  try rm -rf {{ item|role_dump_dir(vars) }}
{%   if vars[item + '_database_type']|default('postgresql') == 'postgresql' %}
  try psql -v v1={{ vars[item + '_database_name_version_backup'] }} -h {{ vars[item + '_database_host'] }} -p {{ vars[item + '_database_port'] }} -U ansible postgres < /etc/backup/scripts/db_snapshot_drop.sql
{%   endif %}
{% endif %}
