#!/bin/bash
# {{ ansible_managed }}

export BACKUP_LOGFILE=$3

source /etc/backup/scripts/helpers.sh

if [ "$2" == "before" ]
then
  echo "$1-$2 hook $(date) mountpoint" >> $BACKUP_LOGFILE 2>&1
  try mountpoint -q {{ backup_mount }}
fi

{% for rl in backup_roles_node %}
if [[ $1 == {{ rl }}* ]] && [ "$2" == "before" ]
then
  echo "$1-$2 hook $(date)" >> $BACKUP_LOGFILE 2>&1
  {% if vars['backup_roles'][rl]['stop_start_service'] is defined %}
  try systemctl stop {{ vars['backup_roles'][rl]['stop_start_service'] }}
  {% endif %}
  {% if vars['backup_roles'][rl]['stop_start_containers'] is defined %}
  try docker stop {{ vars['backup_roles'][rl]['stop_start_containers']|join(' ') }}
  {% endif %}
fi

if [[ $1 == {{ rl }}* ]] && [ "$2" == "after" ]
then
  echo "$1-$2 hook $(date)" >> $BACKUP_LOGFILE 2>&1
  {% if vars['backup_roles'][rl]['stop_start_service'] is defined %}
  try systemctl start {{ vars['backup_roles'][rl]['stop_start_service'] }}
  {% endif %}
  {% if vars['backup_roles'][rl]['stop_start_containers'] is defined %}
  try systemctl start {{ vars['backup_roles'][rl]['stop_start_containers']|join(' ') }}
  {% endif %}
fi
{% endfor %}
