[Unit]
Description=SonarQube {{ sonarqube_version }}
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=sonarqube
Group=sonarqube
PermissionsStartOnly=true
ExecStart=/usr/bin/nohup {{ sonarqube_java_bin[ansible_os_family] }} -Djava.net.preferIPv4Stack=true -jar {{ sonarqube_home }}/sonarqube/lib/sonar-application.jar
StandardOutput=syslog
LimitNOFILE=65536
LimitNPROC=8192
TimeoutStartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
