
setup.displayName={{ confluence_setup['display-name'] }}
setup.baseUrl={{ confluence_setup['base-url'] }}
setup.license={{ confluence_setup['license']|replace("\n", "\\\n") }}
setup.sysadmin.username={{ confluence_setup['admin']['username'] }}
setup.sysadmin.password={{ confluence_setup['admin']['password'] }}
setup.sysadmin.displayName={{ confluence_setup['admin']['display-name'] }}
setup.sysadmin.emailAddress={{ confluence_setup['admin']['mail'] }}
{% if confluence_personal_repos == False %}
feature.personal.repos=false
{% endif %}
{% if confluence_jmx.enable == True %}
jmx.enabled=true
{% endif %}
{% if confluence_database_jdbc_custom_config is defined %}
{{ confluence_database_jdbc_custom_config | join('\n') }}
{% else %}
jdbc.driver=org.postgresql.Driver
jdbc.url=jdbc:postgresql://{{ confluence_database_host }}:{{ confluence_database_port }}/{{ confluence_database_name_version }}
jdbc.user={{ confluence_database_username }}
jdbc.password={{ confluence_database_password }}
{% endif %}
server.context-path={{ confluence_web_context }}
server.port={{ confluence_web_port }}
{% if confluence_reverse_proxy.enable  %}
server.secure={{ confluence_reverse_proxy.secure }}
server.scheme={{ confluence_reverse_proxy.scheme }}
server.proxy-port={{ confluence_reverse_proxy.port }}
server.proxy-name={{ confluence_reverse_proxy.hostname }}
# server.ssl.key-store=
# server.ssl.key-store-password=<password value>
# server.ssl.key-password=<password value>
# https://confluence.atlassian.com/confluenceserver/securing-confluence-server-with-tomcat-using-ssl-776640127.html
{% endif %}
# plugin.mirroring.upstream.url=https://confluence.company.com
