# {{ ansible_managed }}

[Unit]
Description=Atlassian Confluence
After=syslog.target network.target

[Service]
Type=forking
User={{ confluence_owner }}
PIDFile={{ confluence_home_link_app }}/work/catalina.pid
ExecStart={{ confluence_home_link_app }}/bin/start-confluence.sh
ExecStop={{ confluence_home_link_app }}/bin/stop-confluence.sh

[Install]
WantedBy=multi-user.target
