# {{ ansible_managed }}
# install4j response file for Confluence
# documentation in this role README.md

app.confHome={{ confluence_home_version_home }}
app.install.service$Boolean=true
existingInstallationDir={{ confluence_home_version_home }}
app.install.service$Boolean=false
httpPort$Long={{ confluence_web_port }}
launch.application$Boolean=false
portChoice=custom
rmiPort$Long={{ confluence_rmi_port }}
sys.adminRights$Boolean=true
sys.confirmedUpdateInstallationString=false
sys.installationDir={{ confluence_home_version_app }}
sys.languageId=en
