# {{ ansible_managed }}
# install4j response file for Confluence

app.confHome={{ confluence_home_version_home }}
app.install.service$Boolean=true
existingInstallationDir={{ confluence_home_version_home }}
app.install.service$Boolean=false
httpPort$Long={{ confluence_web_port }}
launch.application$Boolean=false
portChoice=custom
rmiPort$Long={{ confluence_rmi_port }}
sys.adminRights$Boolean=true
sys.confirmedUpdateInstallationString=false
sys.installationDir={{ confluence_home_version_app }}
sys.languageId=en

# app.defaultInstallDir=
# portChoice={{ confluence_web_port }}
#{% if confluence_lcm['operation'] == 'install' %}
# executeLauncherAction$Boolean=false
# installation.type=INSTALL
#{% endif %}
#{% if confluence_lcm['operation'] == 'upgrade' %}
#sys.confirmedUpdateInstallationString=true
#{% endif %}
#launch.application$Boolean=false
#sys.adminRights$Boolean=true
#sys.installationDir={{ confluence_home_version_app }}
#sys.languageId=en


