export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/u01/app/oracle/product/12.2.0/dbhome_1/bin
export ORACLE_SID=ORCLCDB
export OH=/u01/app/oracle/product/12.2.0/dbhome_1
export TNS_ADMIN=/u01/app/oracle/product/12.2.0/dbhome_1/admin/ORCLCDB
export HOME=/home/oracle
export ORACLE_HOME=/u01/app/oracle/product/12.2.0/dbhome_1
