
setup.displayName={{ jira_setup['display-name'] }}
setup.baseUrl={{ jira_setup['base-url'] }}
setup.license={{ jira_setup['license']|replace("\n", "\\\n") }}
setup.sysadmin.username={{ jira_setup['admin']['username'] }}
setup.sysadmin.password={{ jira_setup['admin']['password'] }}
setup.sysadmin.displayName={{ jira_setup['admin']['display-name'] }}
setup.sysadmin.emailAddress={{ jira_setup['admin']['mail'] }}
{% if jira_personal_repos == False %}
feature.personal.repos=false
{% endif %}
{% if jira_jmx.enable == True %}
jmx.enabled=true
{% endif %}
{% if jira_database_jdbc_custom_config is defined %}
{{ jira_database_jdbc_custom_config | join('\n') }}
{% else %}
jdbc.driver=org.postgresql.Driver
jdbc.url=jdbc:postgresql://{{ jira_database_host }}:{{ jira_database_port }}/{{ jira_database_name_version }}
jdbc.user={{ jira_database_username }}
jdbc.password={{ jira_database_password }}
{% endif %}
server.context-path={{ jira_web_context }}
server.port={{ jira_web_port }}
{% if jira_reverse_proxy.enable  %}
server.secure={{ jira_reverse_proxy.secure }}
server.scheme={{ jira_reverse_proxy.scheme }}
server.proxy-port={{ jira_reverse_proxy.port }}
server.proxy-name={{ jira_reverse_proxy.hostname }}
# server.ssl.key-store=
# server.ssl.key-store-password=<password value>
# server.ssl.key-password=<password value>
# https://confluence.atlassian.com/jiraserver/securing-jira-server-with-tomcat-using-ssl-776640127.html
{% endif %}
# plugin.mirroring.upstream.url=https://jira.company.com
