# {{ ansible_managed }}

[Unit]
Description=Atlassian JIRA {{ jira_version }}
After=network.target

[Service]
Type=forking
User={{ jira_owner }}
ExecStart={{ jira_home_version_app }}/bin/start-jira.sh
ExecStop={{ jira_home_version_app }}/bin/stop-jira.sh

[Install]
WantedBy=multi-user.target
