
ProxyRequests Off
ProxyPreserveHost On

SSLSessionCache shmcb:/var/cache/mod_ssl/scache(512000)
SSLSessionCacheTimeout 300
# SSLMutex default
Mutex default
SSLRandomSeed startup file://dev/urandom 256
SSLRandomSeed connect builtin
SSLCryptoDevice builtin

{% for hst in reverse_proxy_vhosts %}
<VirtualHost *:{{ reverse_proxy_vhosts[hst].port }}>
    ServerAdmin admin@{{ reverse_proxy_server_admin }}
    ServerName {{ reverse_proxy_vhosts[hst].server_name }}

    SSLEngine on
    SSLProxyEngine on
    SSLProtocol all -SSLv2
    SSLCipherSuite DEFAULT:!EXP:!SSLv2:!DES:!IDEA:!SEED:+3DES
{% if reverse_proxy_vhosts[hst].proxy_verify == False %}
    SSLProxyVerify none 
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerName off
    SSLProxyCheckPeerExpire off
{% endif %}
    SSLCertificateFile {{ reverse_proxy_etc_ssl_certs[ansible_os_family] }}{{ reverse_proxy_vhosts[hst].server_name }}.pem
    SSLCertificateKeyFile {{ reverse_proxy_etc_ssl_private[ansible_os_family] }}reverse_proxy.pem

    DocumentRoot /var/www/html

    <Directory />
	    AllowOverride all
	    Allow from all
    </Directory>

{%   for pp in reverse_proxy_vhosts[hst].proxy_passes %}
    ProxyPass {{ reverse_proxy_vhosts[hst].proxy_passes[pp]['proxy_pass'] }}
{%     if reverse_proxy_vhosts[hst].proxy_passes[pp]['proxy_pass_reverse'] is defined  %}
    ProxyPassReverse {{ reverse_proxy_vhosts[hst].proxy_passes[pp]['proxy_pass_reverse'] }}
{%     else %}
    ProxyPassReverse {{ reverse_proxy_vhosts[hst].proxy_passes[pp]['proxy_pass'] }}
{%     endif %}
{%   endfor %}
    LogLevel {{ reverse_proxy_log_level }}

    ErrorLog {{ https_log_dir[ansible_os_family] }}ssl-{{ reverse_proxy_vhosts[hst].server_name }}.log
    CustomLog {{ https_log_dir[ansible_os_family] }}ssl-{{ reverse_proxy_vhosts[hst].server_name }}.log combined

</VirtualHost>                                  
{% endfor %}
