#!/usr/bin/env bash

yell() { echo "$0: $*" >&2; }
die() { yell "$*"; exit 111; }
try() { "$@" || die "cannot $*"; }

if [ -z "$1" ]
  then echo 'You need to provide container name!'
  exit 1
fi

pw_file={{ desktop_home }}/$1

if test -f "$pw_file"; then
  echo "$1 $pw_file"
else
  echo "$1 $pw_file - set vnc password in container"
  pw=$(< /dev/urandom tr -dc A-Za-z0-9 | head -c8; echo)
  echo $pw > $pw_file
  chmod 400 $pw_file
  try docker exec $1 /bin/bash -c  "/usr/local/bin/vncserver-vncpasswd $pw vagrant"
fi
