---
- name: restart sonarqube
  service: name=sonarqube state=restarted
  notify: wait for sonarqube

- name: wait for sonarqube
  wait_for: port=9000 delay=3 timeout=300

- name: systemctl-daemon-reload
  command: systemctl daemon-reload
