hostname                        =localhost
ldapPort                        ={{opendj_ldap_port}}
generateSelfSignedCertificate   =true
enableStartTLS                  =true
ldapsPort                       ={{opendj_ldaps_port}}
jmxPort                         ={{opendj_jmx_port}}
adminConnectorPort              ={{opendj_admin_port}}
rootUserDN                      ={{opendj_root_user_dn}}
rootUserPassword                ={{opendj_password}}
baseDN                          ={{opendj_basedn}}
ldifFile                        ={{opendj_ldif_file}}
# backendType 					= pdb
