{% if common_etc_environment is defined %}
{{ common_etc_environment }}
{% endif %}
{% if proxy_host is defined and proxy_skip != True %}
http_proxy="http://{{ proxy_host }}:{{ proxy_port }}/"
https_proxy="http://{{ proxy_host }}:{{ proxy_port }}/"
{% 	if proxy_no_proxy is defined %}
no_proxy="{{ proxy_no_proxy }}"
{% 	endif %}
# ftp_proxy="http://<username>:<password>@<hostname>:<port>/"
{% endif %}
